<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703503309558-3hln6i6go7u7cmv3rt0fjoff85sl2snc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703503309558-3hln6i6go7u7cmv3rt0fjoff85sl2snc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703503309558-epgfv5t3e35s5jjf961hb56a2qd948t4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-yC12HrrslmKvrPlyR5B0mZvKNl67TY</string>
	<key>GCM_SENDER_ID</key>
	<string>703503309558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.sudosu.carrosflutter</string>
	<key>PROJECT_ID</key>
	<string>aulas-273812</string>
	<key>STORAGE_BUCKET</key>
	<string>aulas-273812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703503309558:ios:34d59de2a30e19f3e22ad7</string>
	<key>DATABASE_URL</key>
	<string>https://aulas-273812.firebaseio.com</string>
</dict>
</plist>